@using IdentityApp.Areas.Identity.Data;
@model List<string>;

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to unblock the selected users?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-primary" value="Unblock" id="buttonModal" asp-action="Unblock" formmethod="post" />
        }
    </div>
</div>